body{
    margin: 0;
    padding: 0;
    background: url(back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
    width: 1200px;
    height: 500px;
   
}
/* ye black box ki setting h*/
.login{
    width: 320px;
    height: 480px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.logo{
    width: 120px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -13%;
    left: calc(50% - 50px);

}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    
    
}
.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;


}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    columns: rgb(0, 0, 0);
    font-size: 15px;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(248, 150, 168);
    color: rgb(20, 9, 9);
    font-size: 20px;
    border-radius: 20px;

}
.login input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(0, 0, 0);
color: rgb(12, 241, 222);

}
